body{
    background-color: rgb(221, 216, 216)
}
h1{
    color: white;
    background-color: black;
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    margin: auto;
}

.sign-up{
    width: 1000px; 
    margin: 20px auto;
}

@media only screen and (max-width: 600px) {
    h1{
        width: 1000px;
        color: white;
        background-color: black;
        font-size: 25px;
    }

    .sign-up{
        width: 700px; 
        padding-left: 35%;
        margin: 20px 20px auto;
    }
  }


